h1.randomPhrase {
  font-size: 3.8em;
  color: var(--text-color);
  margin: 0.15em 0;
  cursor: pointer;
}

main .main-title {
  font-size: 1.6em;
  color: var(--second-text-color);
  font-weight: normal;
}

main.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.toggle {
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 25px;
  font-size: 2em;
}

.toggle:before {
  content: '🌞';
}

.toggle.dark:before {
  content: '🌚';
}

@media (max-width: 480px) {
  h1.randomPhrase {
    font-size: 2em;
  }

  main .main-title {
    font-size: 1em;
  }
}
